<% provide(:title, 'Home') %>
<% provide(:body_id, 'index') %>

        <div class="contents">

            <div class="content-main">

                <balance-table></balance-table>

            </div>
            <!--/content-main-->

            <div class="content-side">
                <section class="section">
                    <todo id="todoA" data-aaa="true"></todo>
                    <todo id="todoB"></todo>
                    <tabs></tabs>
                </section>
            </div>
            <!--/content-side-->

        </div>
        <!--/contents-->
