/* Footer
   ----------------------------------------------------------------- */

.container .footer {
  padding: 20px;
  background-color: #eee;
  clear: both;
}

.container .footer > .copyright {
  margin: 0 auto;
  max-width: 960px;
  font-size: 0.8em;
}
